<nav class="navbar navbar-light navbar-expand-md navigation-clean-button gradient">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/angularfeed-transparent.png">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto af-tabs">
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/articles" routerLinkActive="active"> {{ "articles" | uppercase }} </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" routerLink="/tutorials" routerLinkActive="active"> {{ "tutorials" | uppercase }} </a>
        </li>
      </ul>
    </div>
  </div>
</nav>